:root{
    /*color*/

    --color-darkBlue: #6a9cdc;
    --color-lightBlue: #b3d1e6;
    --color-yellow: #f1c84b;
    --color-orange: #ef6c6c;
    --color-purple: #a77b99;
}

*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: var(--color-lightBlue);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    color: var(--color-yellow);
}

button{
    border: none;
    border-radius: 25rem;
    color: var(--color-yellow);
    background-color: #a77b99;
    font-family: "Outfit";
    font-size: 1.5rem;
    
}

.outfit-main-font {
    font-family: "Outfit";
  }

.display{
    width: 100%;
    height: 7.5rem;
    background-color: var(--color-purple);
    border: solid 1.5rem black;
    text-align: end;
    align-content: center;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    padding: .5rem;
    font-size: 3rem;
}

.wrapper{
    width: 40%;
    height: auto;    
    background-color: var(--color-darkBlue);
    margin-top: 1rem;
    padding: 2rem;
    border-radius: 10%;
}

.btnWrapper{
    width: 100%;
}
.numBtnContainer{
    width: 75%;
    height: 20rem;
    background-color: var(--color-orange);
    flex-wrap: wrap;
    padding: 2%;
    padding-bottom: 4%;
    justify-content: center;
    align-items: center;
    gap: 2%;
    border-bottom-left-radius: 2rem;
}
.numBtnContainer > button{
    width: 31%;
    height: 24%;
}

.operationButtons{
    width: 25%;
    height: 20rem;
    background-color: var(--color-orange);
    flex-wrap: wrap;
    padding: 2%;
    justify-content: center;
    align-items: center;
    gap: 2%;
    border-bottom-right-radius: 2rem;
}

.operationButtons > button{
    width: 85%;
    height: 24%;
    margin-bottom: 4%;
}

.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex{
    display: flex;
    justify-content: flex-start;
}